.bloc1{
  background-color: blue;
}
.bloc2{
  background-color: purple;
}
.bloc3{
  background-color: pink;
}
input[type=text] {
  border: 1px ;
  border-color:lightblue;
}
input[type=button] {
  border: 1px solid #555;
  border-color:grey;
  padding-right: 20px;
}
input[type=radio] {
  margin-left: 75px;
}
