.bloc1{
  background-color: blue;
}
.bloc2{
  background-color: purple;
}
.bloc3{
  background-color: pink;
}
input[type=text] {
  border: 1px solid #555 ;
  border-color:grey;
}
input[type=button] {
  border: 1px solid #555;
  border-color:grey;
}
ul{
  list-style-type: none;
}
